body{
    background: linear-gradient(to right, rgba(61,114,182,1), rgba(111,85,176,1));
    z-index: 0;
    font-family: Arial;
}

#form{
    z-index: 1;
    margin: auto;
    width: 24%;
    height: 350px;
    background: #fff;
    border-radius: 10px;

    text-align: center;
}
#form p{
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0px 0px 0px;

}
#form input {
    font-size: 17px;
    width:80%;
    margin-top: 20px;
    border: none;
    border-bottom: 3px solid #d6cfcf;
}
#form input ::placeholder{
    color: #d6cfcf;
}
#form #submit{
    margin-top: 20px;
    width: 75%;
    border-radius: 20px;
    background-color: #2591d9;
    color: #fff;
    height: 40px;
    font-size: 17px;
    border: none;
}